.catalog {
  display: grid;
  grid-template-columns: repeat(4, auto);
  max-width: 944px;
  margin: auto;
  gap: 48px;
  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
@media (max-width:768px) {
  .catalog {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width:488px) {
  .catalog {
    grid-template-columns: repeat(2, auto);
  }
}
